#list .list-header {
  font-family: Comfortaa;
  font-size: 3em;
  color: rgb(205,181,228);
  text-align: center;
  padding-top: 5%;
}

#list .user-list{
  font-family: Comfortaa;
  font-size: 1.3em;
  color: rgb(205,181,228);
  text-align: center;
  margin-top: -30px;
}

#list .items-show{
  background-color: white;
  border: none;
  width: 70%;
  margin: auto;
  height: 4em;
  margin-top: 3%;
}

#list .items_info{
  font-family: Comfortaa;
  position: relative;
  font-size: 1.7em;
  color: rgb(86,66,105);
  width: 85%;
  margin-left: 4%;
}

#list .items_info p{
  padding-top: 3%;
  text-decoration: none;
  color: rgb(86,66,105);
}
#list .item_form{
  width:71%;
  margin:auto;
  text-align: center;
  height: 4em;
}
#list .item_form input[type=text]{
  background-color: white;
  border: none;
  width: 75%;
  font-size: 1.7em;
  height:100%;
  text-indent: 23px;
}
#list .item_form input[type=submit]{
  height: 104%;
  width: 19%;
  border: none;
  background-color: white;
  padding: 0;
  margin-left: 4%;
  vertical-align: bottom;
}
