#show .show-header {
  font-family: Comfortaa;
  font-size: 3em;
  color: rgb(205,181,228);
  text-align: center;
  padding-top: 5%;
}

#show .show-title{
  font-family: Comfortaa;
  font-size: 2em;
  color: rgb(205,181,228);
  text-align: center;
}

#show .list-show{
  border: 1px solid rgb(205,181,228);
  background-color: white;
  border: none;
  width: 70%;
  margin: auto;
  height: 4em;
  margin-top: 3%;
}

#show .list_info{
  font-family: Comfortaa;
  position: relative;
  font-size: 1.3em;
  color: rgb(86,66,105);
  width: 85%;
  margin-left: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
}
#show .list_info a{
  text-decoration: none;
}
