<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FoodStuffs</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Snippet" />
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../../public/CSS/fakeCSS/fakeIndexCss.css" type="text/css">
    <link rel="stylesheet" href="../../../public/css/normalize.css" type="text/css">
  </head>
  <body>
    <div class="main-container">
      <h2 class="main-title">foodstuffs</h2>
      <form class="login-register" action="index.html" method="post">
        <input type="text" name="username" placeholder=" Username">
        <input type="password" name="password" placeholder=" Password">
        <p><a class="login-submit" href="#">Login</a></p>
      </form>
    </div>
  </body>
</html>
