<div id="show">
  <h2 class="show-header">Welcome! <%= (@user.username).capitalize %></h2>

  <h2 class="show-title">Your Lists</h2>

    <%@user.lists.each do |list|%>
      <div class='list-show'>
        <div class="list_info">
          <a href="/list/<%=list.id%>"><%=list.name%></a>
        </div>
      </div>
    <%end%>
</div>
