<h2 class="main-title">foodstuffs</h2>
<form class="login-register" action="users" method="post">
  <input type="text" name="username" placeholder=" Username">
  <input type="password" name="password" placeholder=" Password">
  <input class="login-submit" type='submit' value="login/signup"/>
</form>
