<h2 class="main-title">foodstuffs</h2>
<form class="login-register" action="index.html" method="post">
  <input type="text" name="username" placeholder=" Username">
  <input type="password" name="password" placeholder=" Password">
  <p><a class="login-submit" href="#">Login</a></p>
</form>
