<h2 class="main-title">foodstuffs</h2>
<form class="login-register" action="users" method="post">
  <input type="text" name="username" placeholder=" Username">
  <input type="password" name="password" placeholder=" Password">
  <input class="login-submit" type='submit' value="login/signup"/>
</form>

<div class="circles hidden">
  <div class="circle" id="circle1"><span>J</span></div>
  <div class="circle" id="circle5"><span>L</span></div>
  <div class="circle" id="circle2"><span>S</span></div>
  <div class="circle" id="circle6"><span>A</span></div>
  <div class="circle" id="circle4"><span>W</span></div>
  <div class="circle" id="circle3"><span>P</span></div>
</div>
