<div id='list'>
  <h2 class="list-header"><%=@list.name%></h2>
  <h2 class="user-list">
    <%@list.users.each do |user|%>Users on this list:
     <%=user.username%>
    <%end%>
  </h2>

  <form class="item_form" action="">
    <input type="text" name="" placeholder="Add Item...">
    <input type='submit' name='Add' value='Add'>
  </form>

  <%@list.foods.each do |item|%>
    <div class='items-show'>
      <div class="items_info">
        <p><%=item.name%></p>
      </div>
    </div>
  <%end%>
</div>
